* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #000000;
	color: white;
}

h1 {
	text-align: center;
	padding: 3rem 0;
	font-size: 60px;
	color: rgb(241, 168, 10);
}

.favorito {
	text-align: center;
}

/*Boton DarkMode*/

.dark {
	background-color: white;
}

.dark h4 {
	color: black;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
	color: rgb(241, 168, 10);
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;

}

.contenedor .pelicula .resumen {
	font-size: 10px;
	text-align: justify;
}

.pieDePagina {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.pieDePagina button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.pieDePagina button:hover {
	background: #ca7b05;
}